/* Estilo css de Alex */
/* CSS de Alex */
/*Selector universal*/
* {
    margin: 0;
    font-family: "Montserrat";
    box-sizing: unset;
    line-height: normal;
}

/* Código hecho en primer trimestre de DAM y DAW (grid) */
/*El grid*/
.rowPropio {
    /* En la propiedad display agregamos grid para establecer una cuadricula */
    display: grid;
    /* Define el numero de columnas en el diseño de cuadricula */
    grid-template-columns: repeat(12, [ col ] 1fr);
    /* Define la altura de cada fila */
    grid-template-rows: repeat(5, [ row ] auto);
    column-gap: 1em; /* espacio entre columnas */
    row-gap: 15px; /* espacio entre filas */
}

.colPropio {
    padding: 1em; /* padding del texto */
    font-size: 14px; /* Tamaño del texto */
}

.noRowGapPropio {
    row-gap: 0;
}

.noColGapPropio {
    column-gap: 0;
}

/* Rellena espacio del nav (temporal) */
.pruebaPropio {
    height: 4rem;
    background: #291f1e;
}

/* Quita los estilos de listado */
.ulNoListPropio {
    list-style: none;
}

/* Quita el estilo que tiene los links */
.aNoDecPropio {
    text-decoration: none;
    color: black;
}

/* Estilo del contenedor de las opciones de chat */
.chatListOptionsPropio {
    text-align: center;
}

/* Estilo de los filtros de chat (mas recientes o todos los contactos) */
.chatFilterPropio {
    background-color: #73cd99;
    padding: 0;
}

.chatFilterPropio:hover {
    color: white;
    background-color: #2d764b;
    cursor: pointer;
    transition: 1s; /* Hace una pequena transicion de 1 segundo (animacion) */
}

/* Estilo cuando está activo ese tipo de chat (lista de chat reciente o no) */
.activeFilterChatPropio {
    background-color: white;
    transition: 1s;
}

/* Limita el tamano del chat y anade scroll */
.chatLimitedPropio {
    height: 26rem;
    overflow-y: scroll;
}

/* Estilo del contenedor del chat */
.chatCardPropio {
    /* background-color: lightgreen; */
    text-align: left;
    border-top: 1px solid #291f1e;
    margin: 1rem 1.75rem -1rem 1.75rem; /* Va del top, right, bottom, left */
    padding: 1rem 0rem 1rem 0.5rem; /* Va del top, right, bottom, left */
    transition: 1s;
}

.chatCardPropio:hover {
    cursor: pointer;
    background-color: #c4e9d3;
    transition: 1s;
}

.chatCardActivePropio {
    background-color: #73cd99 !important;
}

/* Estilo del contenedor de informacion del chat (nombre, ultimo mensaje enviado) */
.infoChatPropio {
    margin-left: 1rem;
}

/* Imagen del logo de la organizacion */
.imgOrgPropio {
    height: 2.75rem;
    width: 100%;
    border-radius: 100%;
}

/* Estilo del contenedor de nombre */
.nameContainerPropio {
    height: 1.45rem;
    color: white; /* Cambia el color del texto */
    background-color: #291f1e;
    padding-top: 1.15rem;
    padding-right: 1.15rem;
    padding-bottom: 1.15rem;
    padding-left: 1.5rem;
}

/* Border que separa el chat de los contactos */
.borderContainerPropio {
    height: 30rem;
    border-right: 1px solid #291f1e;
}

/* Fondo de la pantalla de chat */
.pantallaChatPropio {
    background-color: #2d764b;
}

/* Tamano del chat en general (contenedores incluidos) */
.chatContainerPropio {
    height: 26.3rem;
}

/* Contenedor del chat (donde hablan los usuarios) */
.chatUsersPropio {
    height: 63.25%;
    border-radius: 0.75rem;
    overflow-y: scroll;
    background-color: #73cd99;
    margin: 1.81rem;
    padding: 1rem;
}

/* Contenedor del input para el chat (donde hablan los usuarios) */
.chatInputContainerPropio {
    display: flex;
    height: 15.31%;
    background-color: lightgrey;
}

/* Estilo del input del chat */
.inputChatPropio {
    width: 80%;
    background: #ffffff;
    font-size: large;
    border: none;
    /* Va de la parte superior izquierda, derecha y después en la baja derechar e izquierda */
    border-radius: 0.5rem 0rem 0rem 0.5rem;
    margin: 0.77rem 0rem 0.77rem 2rem; /* Va del top, right, bottom, left */
    padding: 0.5rem;
    transition: 1s;
}

/* Cambiar color del input cuando se enfoca (cuando esta activo) */
/* https://stackoverflow.com/questions/16156594/how-to-change-border-color-of-textarea-on-focus */
.inputChatPropio:focus {
    /* Quita los bordes que aparece cuando se enfoca en el input */
    outline: none !important;
    /* El nuevo borde del input */
    border: 1px solid #2d764b;
    /* Colorea detrás. El primero controla el desplazamiento en el eje x y el segundo en el eje y.
    La tercera variable dice la cantidad de difusion que quiere en el color (mas claro/enfocado o no) */
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow */
    box-shadow: 0 0 10px #73cd99;
}

/* Estilo de los botones del chat */
.btnChatPropio {
    padding: 1px 6px; /* Estilo propio del botón (el de por defecto) */
    border: 1px solid #c4e9d3;
    background-color: #73cd99;
    margin: 0.75rem 0rem 0.75rem 0rem;
}

/* Lo que pasa cuando el raton pasa por encima */
.btnChatPropio:hover {
    cursor: pointer;
    background-color: #2d764b;
}

/* Cambia el color de las imagenes por el filtro cuando se pasa por encima el raton */
.btnChatPropio:hover > img {
    filter: invert(1);
}

/* Estilo del chat (burbuja) que recibe el usuario */
.receptorChatPropio {
    height: min-content; /* Para que tenga la altura adecuada al texto que se recive */
    /* Para separarlo si supera el límite del chat (texto muy largo sin espacios, por ejemplo) */
    overflow-wrap: break-word;
    font-size: medium;
    background-color: #ffffff;
    border-radius: 5rem 4rem 4rem 0.25rem; /* Le da forma de burbuja*/
    margin-right: 4.25rem;
    margin-bottom: 1rem;
    padding: 1.5rem;
}

/* Estilo del chat (burbuja) que envia el usuario */
.sendChatPropio {
    height: min-content;
    overflow-wrap: break-word;
    font-size: medium;
    background-color: #ffffff;
    border-radius: 4rem 5rem 0.25rem 4rem;
    margin-bottom: 1rem;
    margin-left: 4.25rem;
    padding: 1.5rem;
}

/* Tiempo que se envio o recibio el mensaje*/
.timeChatReceivedPropio {
    width: max-content;
    color: grey;
    font-style: italic;
    font-size: smaller;
    margin-top: 0.75rem;
    margin-bottom: -1.2rem;
    padding-bottom: 0.5rem;
}

/* Estilo del tiempo del chat recibido */
.timeChatSendPropio {
    color: grey;
    font-style: italic;
    font-size: smaller;
    text-align: right;
    margin-top: 0.75rem;
    margin-bottom: -1.2rem;
    padding-bottom: 0.5rem;
}

/* El boton solo aparece cuando son pantallas pequenas */
.btnBackPropio {
    display: none;
}

/* Estilo del último mensaje enviado */
.lastMsgPropio{
    color: #3d3d3d;
    font-style: italic;
    font-size: smaller;
    margin-top: 1px;
}

/* Estilos responsive */
/* Pantalla grande  */
@media only screen and (min-width: 941px) {
    .col-lg-1Propio {
        grid-column: span 1;
    }
    .col-lg-2Propio {
        grid-column: span 2;
    }
    .col-lg-3Propio {
        grid-column: span 3;
    }
    .col-lg-4Propio {
        grid-column: span 4;
    }
    .col-lg-5Propio {
        grid-column: span 5;
    }
    .col-lg-6Propio {
        grid-column: span 6;
    }
    .col-lg-7Propio {
        grid-column: span 7;
    }
    .col-lg-8Propio {
        grid-column: span 8;
    }
    .col-lg-9Propio {
        grid-column: span 9;
    }
    .col-lg-10Propio {
        grid-column: span 10;
    }
    .col-lg-11Propio {
        grid-column: span 11;
    }
    .col-lg-12Propio {
        grid-column: span 12;
    }

    /* Ajustando las opciones de chat (reciente y todos los contactos) */
    .chatFilterPropio {
        padding: 1rem;
    }
}

/* Pantalla tablet  */
@media only screen and (min-width: 768px) and (max-width: 941px) {
    .col-md-1Propio {
        grid-column: span 1;
    }
    .col-md-2Propio {
        grid-column: span 2;
    }
    .col-md-3Propio {
        grid-column: span 3;
    }
    .col-md-4Propio {
        grid-column: span 4;
    }
    .col-md-5Propio {
        grid-column: span 5;
    }
    .col-md-6Propio {
        grid-column: span 6;
    }
    .col-md-7Propio {
        grid-column: span 7;
    }
    .col-md-8Propio {
        grid-column: span 8;
    }
    .col-md-9Propio {
        grid-column: span 9;
    }
    .col-md-10Propio {
        grid-column: span 10;
    }
    .col-md-11Propio {
        grid-column: span 11;
    }
    .col-md-12Propio {
        grid-column: span 12;
    }

    /* Titulo de los tipos de chat (recientes y todos los contactos) */
    .filterTitlePropio {
        font-size: large;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
    }
}

/*Pantalla movil*/
@media only screen and (min-width: 451px) and (max-width: 768px) {
    .col-sm-1Propio {
        grid-column: span 1;
    }
    .col-sm-2Propio {
        grid-column: span 2;
    }
    .col-sm-3Propio {
        grid-column: span 3;
    }
    .col-sm-4Propio {
        grid-column: span 4;
    }
    .col-sm-5Propio {
        grid-column: span 5;
    }
    .col-sm-6Propio {
        grid-column: span 6;
    }
    .col-sm-7Propio {
        grid-column: span 7;
    }
    .col-sm-8Propio {
        grid-column: span 8;
    }
    .col-sm-9Propio {
        grid-column: span 9;
    }
    .col-sm-10Propio {
        grid-column: span 10;
    }
    .col-sm-11Propio {
        grid-column: span 11;
    }
    .col-sm-12Propio {
        grid-column: span 12;
    }

    /* Titulo de los tipos de chat (recientes y todos los contactos) */
    .filterTitlePropio {
        font-size: large;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
    }

    /* Pone todos los elementos de la lista de contactos en la misma linea */
    .chatCardPropio {
        display: flex;
    }

    /* Ajuste de la foto del contacto */
    .imgOrgPropio {
        width: 4rem;
    }

    /* Pone todo lo que esta en el contenedor del nombre del chat en la misma linea */
    .nameContainerPropio {
        display: flex;
    }

    /* Botón para ir atras y solo aparece cuando es pequena la pantalla */
    .btnBackPropio {
        display: block;
        background: none;
        border: none;
        margin: -8.5px 1rem -8.5px 0.1rem;
        padding: 1px 6px; /* Estilo propio del botón (el de por defecto) */
    }

    /* Cambia el estilo del vector grafico */
    .btnBackPropio > img {
        width: 2.2rem;
        filter: invert(1);
    }

    /* Estilo cuando se pasa el raton por encima de la imagen */
    .btnBackPropio > img:hover {
        cursor: pointer;
        filter: contrast(0);
    }
}

@media only screen and (max-width: 451px) {
    .col-1Propio {
        grid-column: span 1;
    }
    .col-2Propio {
        grid-column: span 2;
    }
    .col-3Propio {
        grid-column: span 3;
    }
    .col-4Propio {
        grid-column: span 4;
    }
    .col-5Propio {
        grid-column: span 5;
    }
    .col-6Propio {
        grid-column: span 6;
    }
    .col-7Propio {
        grid-column: span 7;
    }
    .col-8Propio {
        grid-column: span 8;
    }
    .col-9Propio {
        grid-column: span 9;
    }
    .col-10Propio {
        grid-column: span 10;
    }
    .col-11Propio {
        grid-column: span 11;
    }
    .col-12Propio {
        grid-column: span 12;
    }

    /* Titulo de los tipos de chat (recientes y todos los contactos) */
    .filterTitlePropio {
        font-size: large;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
    }

    /* Pone todos los elementos de la lista de contactos en la misma linea */
    .chatCardPropio {
        display: flex;
    }

    /* Cambia el estilo del vector grafico */
    .imgOrgPropio {
        width: 4rem;
    }

    /* Pone todo lo que esta en el contenedor del nombre del chat en la misma linea */
    .nameContainerPropio {
        display: flex;
    }

    /* Botón para ir atras y solo aparece cuando es pequena la pantalla */
    .btnBackPropio {
        display: block;
        background: none;
        border: none;
        margin: -8.5px 1rem -8.5px 0.1rem;
        padding: 1px 6px; /* Estilo propio del botón (el de por defecto) */
    }

    /* Cambia el estilo del vector grafico */
    .btnBackPropio > img {
        width: 2.2rem;
        filter: invert(1);
    }

    /* Estilo cuando se pasa el raton por encima de la imagen */
    .btnBackPropio > img:hover {
        cursor: pointer;
        filter: contrast(0);
    }
}
