/* CSS de Alex */
/*Selector universal*/
* {
    margin: 0;
    font-family: "Montserrat";
}

/* Código hecho en primer trimestre de DAM y DAW (grid) */
/*El grid*/
.rowPropio {
    color: black;
    text-decoration: none;
    /* En la propiedad display agregamos grid para establecer una cuadricula */
    display: grid;
    /* Define el numero de columnas en el diseño de cuadricula */
    grid-template-columns: repeat(12, [ col] 1fr);
    /* Define la altura de cada fila */
    grid-template-rows: repeat(5, [ row] auto);
    column-gap: 1em; /* espacio entre columnas */
    row-gap: 15px; /* espacio entre filas */
}

.colPropio {
    padding: 1em; /* padding del texto */
    font-size: 14px; /* Tamaño del texto */
}

.noRowGapPropio {
    row-gap: 0;
}

.noColGapPropio {
    column-gap: 0;
}

/* Rellena espacio del nav (temporal) */
.pruebaPropio {
    height: 4rem;
    background: lightblue;
    margin-bottom: 2rem;
}

/* Quita los estilos de listado */
.ulNoStylePropio {
    list-style: none;
}

/* Quita el estilo que tiene los links */
.aNoStylePropio {
    text-decoration: none;
    color: black;
}

/* Estilo del tab */
.listadoTabPropio {
    display: flex; /* Lo coloca todo en la misma fila*/
    border-bottom: 1.5px solid #dee2e6; /* Colorea el borde de abajo y lo hace visible */
    padding: 0;
}

.listadoOpcionTabPropio {
    margin-right: 0;
    padding: 0.5rem;
}

.tabPropio {
    padding: 0.5rem;
}

/* Senala el tab activo */
.listadoOpcionTabPropio.activoPropio {
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    background-color: #2d764b;
    transition: 1s;
}

/* Color del texto del tab activo */
.listadoOpcionTabPropio.activoPropio a.tabPropio {
    color: white;
    transition: 1s;
}

.listadoOpcionTabPropio a.tabPropio {
    color: black;
    transition: 1s;
}

/* Estilo cuando el raton pasa por encima de los tabs */
.listadoOpcionTabPropio:hover {
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    background-color: #73cd99;
    transition: 1s;
}

.listadoOpcionTabPropio:hover a.tabPropio {
    color: black;
}

/* Estilo del buscador (filtro) */
.divBuscadorPropio {
    height: 2rem;
    margin-top: 2rem;
}

.inputBuscadorPropio {
    height: 1.37rem;
    width: 98.26%;
    box-sizing: content-box !important; /* https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing */
    font-size: 1.2rem;
    padding-top: 0.2rem;
    padding-bottom: 0.4rem;
    padding-left: 5.2px;
    box-shadow: 8px 0.3rem 0.3rem #939292;
}

.inputBuscadorPropio:focus {
    border: 2px solid black !important;
    box-shadow: 8px 0.3rem 0.3rem #afafaf !important;
}

/* Estilo de los botones y sus imagenes correspondientes */
.btnBuscarPropio {
    background: lightblue;
    border: 1px solid lightblue;
    padding: 0.6rem;
}

.imgBuscarPropio {
    margin-bottom: -4px;
}

.btnFiltrarPropio {
    background: lightblue;
    border: 1px solid lightblue;
    border-top-right-radius: 0.35rem;
    border-bottom-right-radius: 0.35rem;
    padding: 0.6rem;
}

/* Estilo del contenedor de los filtros */
.optionsFilterPropio {
    background-color: #73cd99;
    height: 10rem;
    width: 103%;
}

/* Estilo cuando pasa por un boton */
.btnPropio:hover {
    cursor: pointer; /* Botones https://developer.mozilla.org/en-US/docs/Web/CSS/cursor */
    background-color: #7bc8e1;
}

/* Estilos del listado */
.listadoOrgPropio {
    height: 27.5rem; /* Altura */
    border: 1px solid black; /* Borde (tamano, su aspecto, y color) */
    /* Radio de los bordes */
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.15rem;
    border-bottom-right-radius: 0.15rem;
    border-bottom-left-radius: 0.5rem;
    /* Comportamiento cuando se sale de la altura o ancho establecido */
    overflow-y: scroll;
    /* Margenes */
    margin-top: 2.5rem;
    margin-bottom: 4rem;
    /* Rellenos */
    padding-top: 1.35rem;
    padding-right: 1.75rem;
    padding-bottom: 1.35rem;
    padding-left: 1.75rem;
}

/* Imagen de las organizaciones */
.imgOrgPropio {
    height: 100%;
    width: 100%;
    border-top-left-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
}

/* Descripción de las organizaciones */
.contenedorDescPropio {
    background: lightblue;
    border-top-right-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
    padding: 0.75rem;
}

.cardOrgPropio {
    margin-bottom: 2rem;
}

/* Sombreado del contenedor y sus elementos (para darle efecto a todo el contenedor) */
.cardOrgPropio,
.cardOrgPropio > img.imgOrgPropio,
.cardOrgPropio > div.contenedorDescPropio {
    box-shadow: 10px 0.32rem 0.32rem #b6b6b6;
    transition: 1s;
}

/* Sombreado cuando el ratón pasa por encima del contenedor */
.cardOrgPropio:hover,
.cardOrgPropio:hover > img.imgOrgPropio,
.cardOrgPropio:hover > div.contenedorDescPropio {
    box-shadow: 10px 0.32rem 0.32rem #949494;
}

/* Estilo de los titulos */
.h1Propio {
    font-size: xx-large;
    font-weight: bolder;
    margin-bottom: 0.35rem;
}

/* Estilos responsive */
/* Pantalla grande  */
@media only screen and (min-width: 941px) {
    .col-lg-1Propio {
        grid-column: span 1;
    }
    .col-lg-2Propio {
        grid-column: span 2;
    }
    .col-lg-3Propio {
        grid-column: span 3;
    }
    .col-lg-4Propio {
        grid-column: span 4;
    }
    .col-lg-5Propio {
        grid-column: span 5;
    }
    .col-lg-6Propio {
        grid-column: span 6;
    }
    .col-lg-7Propio {
        grid-column: span 7;
    }
    .col-lg-8Propio {
        grid-column: span 8;
    }
    .col-lg-9Propio {
        grid-column: span 9;
    }
    .col-lg-10Propio {
        grid-column: span 10;
    }
    .col-lg-11Propio {
        grid-column: span 11;
    }
    .col-lg-12Propio {
        grid-column: span 12;
    }
}

/* Pantalla tablet  */
@media only screen and (min-width: 768px) and (max-width: 941px) {
    .col-md-1Propio {
        grid-column: span 1;
    }
    .col-md-2Propio {
        grid-column: span 2;
    }
    .col-md-3Propio {
        grid-column: span 3;
    }
    .col-md-4Propio {
        grid-column: span 4;
    }
    .col-md-5Propio {
        grid-column: span 5;
    }
    .col-md-6Propio {
        grid-column: span 6;
    }
    .col-md-7Propio {
        grid-column: span 7;
    }
    .col-md-8Propio {
        grid-column: span 8;
    }
    .col-md-9Propio {
        grid-column: span 9;
    }
    .col-md-10Propio {
        grid-column: span 10;
    }
    .col-md-11Propio {
        grid-column: span 11;
    }
    .col-md-12Propio {
        grid-column: span 12;
    }
}

/*Pantalla movil*/
@media only screen and (min-width: 451px) and (max-width: 768px) {
    .col-sm-1Propio {
        grid-column: span 1;
    }
    .col-sm-2Propio {
        grid-column: span 2;
    }
    .col-sm-3Propio {
        grid-column: span 3;
    }
    .col-sm-4Propio {
        grid-column: span 4;
    }
    .col-sm-5Propio {
        grid-column: span 5;
    }
    .col-sm-6Propio {
        grid-column: span 6;
    }
    .col-sm-7Propio {
        grid-column: span 7;
    }
    .col-sm-8Propio {
        grid-column: span 8;
    }
    .col-sm-9Propio {
        grid-column: span 9;
    }
    .col-sm-10Propio {
        grid-column: span 10;
    }
    .col-sm-11Propio {
        grid-column: span 11;
    }
    .col-sm-12Propio {
        grid-column: span 12;
    }

    /* Estilo del contenedor de la descripción */
    .contenedorDescPropio {
        border-top-right-radius: 0rem;
        border-bottom-left-radius: 0.75rem;
        border-bottom-right-radius: 0.75rem;
    }

    /* Estilo de la imagen (para que quede enfocado y centrado, no hacerlo más pequeño la imagen) */
    .imgOrgPropio {
        height: 10rem;
        object-fit: cover; /* https://developer.mozilla.org/en-US/docs/Web/CSS/object-fit */
        border-top-right-radius: 0.75rem;
        border-bottom-left-radius: 0rem;
    }
}

@media only screen and (max-width: 451px) {
    .col-1Propio {
        grid-column: span 1;
    }
    .col-2Propio {
        grid-column: span 2;
    }
    .col-3Propio {
        grid-column: span 3;
    }
    .col-4Propio {
        grid-column: span 4;
    }
    .col-5Propio {
        grid-column: span 5;
    }
    .col-6Propio {
        grid-column: span 6;
    }
    .col-7Propio {
        grid-column: span 7;
    }
    .col-8Propio {
        grid-column: span 8;
    }
    .col-9Propio {
        grid-column: span 9;
    }
    .col-10Propio {
        grid-column: span 10;
    }
    .col-11Propio {
        grid-column: span 11;
    }
    .col-12Propio {
        grid-column: span 12;
    }
}
