/* CSS de Alex */
/*Selector universal*/
* {
    margin: 0;
    font-family: "Montserrat";
}

/* Código hecho en primer trimestre de DAM y DAW (grid) */
/*El grid*/
.row {
    /* En la propiedad display agregamos grid para establecer una cuadricula */
    display: grid;
    /* Define el numero de columnas en el diseño de cuadricula */
    grid-template-columns: repeat(12, [ col ] 1fr);
    /* Define la altura de cada fila */
    grid-template-rows: repeat(5, [ row ] auto);
    column-gap: 1em; /* espacio entre columnas */
    row-gap: 15px; /* espacio entre filas */
    /* Alinea horizontalmente la cuadricula del interior del contenedor */
    /* justify-content: center; */
    /* Alinea verticalmente la cuadricula del interior del contenedor */
    /* align-content: center; */
}

.col {
    /* background: rgb(70, 70, 70); */ /* Color de fondo */
    /* text-transform: uppercase; */ /* Letra en mayuscula */
    padding: 1em; /* padding del texto */
    font-size: 14px; /* Tamaño del texto */
    /* color: rgb(255, 255, 255); */
}

.noRowGap {
    row-gap: 0;
}

.noColGap {
    column-gap: 0;
}

/* Rellena espacio del nav (temporal) */
.prueba {
    height: 4rem;
    background: lightblue;
}

/* Quita los estilos de listado */
ul {
    list-style: none;
}

/* Quita el estilo que tiene los links */
a {
    text-decoration: none;
    color: black;
}

/* El fondo que hay debajo de la foto del logo de la Org */
.fondoP {
    height: 13rem;
}

/* Estilo del logo (la imagen) */
.logoOrg {
    /* Sus dimensiones */
    width: 13rem;
    height: 10rem;
    /* Posicionamiento de la foto/logo de perfil */
    position: absolute;
    top: 11.85rem;
    left: 6.5rem;
    background-color: white; /* Fondo del borde */
    border-radius: 3.35rem; /* Hace imagen más redonda */
    padding: 0.2rem; /* Darle un pequeno borde al foto de perfil */
}

/* Colocacion del contenedor mediante margenes y rellenos */
.contenedorDesc {
    background-color: lightblue;
    border: 1px solid black;
    margin-top: 2.5rem;
    margin-right: 1.5rem;
    margin-bottom: 2.5rem;
    margin-left: 2rem;
    padding-top: 2.75rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
}

/* Estilo del contenedor de empleados */
.cardEmpl {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* Estilo de la imagen del empleado */
.imgEmpl {
    height: 7.75rem;
    width: 75%;
    border-radius: 2.5rem;
    place-self: center; /* Coloca en el centro la imagen */
    /* object-fit: contain; */
}

/* Estilo del contenedor de la descripcion del empleado */
.empleado {
    padding: 0.75rem;
}

/* Estilo de la descripcion del empleado */
.descEmpl {
    font-size: larger;
    font-style: italic;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

/* Estilo del boton del chat */
.btnChat,
.btnChat2 {
    height: 4rem;
    font-size: larger;
    font-weight: bold;
    border: none;
    border-radius: 0.45rem;
    background-color: #73cd99;
    margin-bottom: 1rem;
    padding: 0.75rem;
    transition: 1s;
}

/* Este chat solo aparece cuando es pequena la pantalla */
.btnChat {
    display: none;
    float: right;
}

/* Estilo del boton del chat (para pantallas grandes) */
.btnChat2 {
    height: 4rem;
    width: 100%;
}

/* Estilo cuando pasa el raton por encima del boton */
.btnChat:hover,
.btnChat2:hover {
    background-color: #2d764b;
    cursor: pointer;
    color: white;
    transition: 1s;
}

/* Este estilo hace que cuando se pase el raton por encima del boton, se cambie el filtro (invertir color
del SVG (gráficos vectoriales escalables) */
/* https://stackoverflow.com/questions/22252472/how-can-i-change-the-color-of-an-svg-element */
.btnChat:hover > .filtroSvg,
.btnChat2:hover > .filtroSvg {
    /* https://developer.mozilla.org/es/docs/Web/CSS/filter */
    filter: invert(1);
    transition: 1s;
}

/* Animacion de transicion sobre el vector grafico */
.btnChat > .filtroSvg,
.btnChat2 > .filtroSvg {
    transition: 1s;
}

/* Estilos sobre el contenido dentro del contenedorDesc */
/* Referido a la seccion de descripcion */
.desc {
    margin-top: 1rem;
}

/* Texto descripcion de la organizacion */
.descTxt {
    margin-top: 0.65rem;
    margin-bottom: 0.65rem;
}

/* Estilos responsive */
/* Pantalla grande  */
@media only screen and (min-width: 941px) {
    .col-lg-1 {
        grid-column: span 1;
    }
    .col-lg-2 {
        grid-column: span 2;
    }
    .col-lg-3 {
        grid-column: span 3;
    }
    .col-lg-4 {
        grid-column: span 4;
    }
    .col-lg-5 {
        grid-column: span 5;
    }
    .col-lg-6 {
        grid-column: span 6;
    }
    .col-lg-7 {
        grid-column: span 7;
    }
    .col-lg-8 {
        grid-column: span 8;
    }
    .col-lg-9 {
        grid-column: span 9;
    }
    .col-lg-10 {
        grid-column: span 10;
    }
    .col-lg-11 {
        grid-column: span 11;
    }
    .col-lg-12 {
        grid-column: span 12;
    }
}

/* Pantalla tablet  */
@media only screen and (min-width: 768px) and (max-width: 941px) {
    .col-md-1 {
        grid-column: span 1;
    }
    .col-md-2 {
        grid-column: span 2;
    }
    .col-md-3 {
        grid-column: span 3;
    }
    .col-md-4 {
        grid-column: span 4;
    }
    .col-md-5 {
        grid-column: span 5;
    }
    .col-md-6 {
        grid-column: span 6;
    }
    .col-md-7 {
        grid-column: span 7;
    }
    .col-md-8 {
        grid-column: span 8;
    }
    .col-md-9 {
        grid-column: span 9;
    }
    .col-md-10 {
        grid-column: span 10;
    }
    .col-md-11 {
        grid-column: span 11;
    }
    .col-md-12 {
        grid-column: span 12;
    }

    /* Ajuste de la imagen de los empleados */
    .imgEmpl {
        height: 4.5rem;
        width: 75%;
    }
}

/*Pantalla movil*/
@media only screen and (min-width: 451px) and (max-width: 768px) {
    .col-sm-1 {
        grid-column: span 1;
    }
    .col-sm-2 {
        grid-column: span 2;
    }
    .col-sm-3 {
        grid-column: span 3;
    }
    .col-sm-4 {
        grid-column: span 4;
    }
    .col-sm-5 {
        grid-column: span 5;
    }
    .col-sm-6 {
        grid-column: span 6;
    }
    .col-sm-7 {
        grid-column: span 7;
    }
    .col-sm-8 {
        grid-column: span 8;
    }
    .col-sm-9 {
        grid-column: span 9;
    }
    .col-sm-10 {
        grid-column: span 10;
    }
    .col-sm-11 {
        grid-column: span 11;
    }
    .col-sm-12 {
        grid-column: span 12;
    }

    /* Ajuste de la imagen del empleado */
    .imgEmpl {
        height: 10rem;
        width: 15rem;
    }

    /* Ajusta el texto dentro del contenedor de descripcion del empleado */
    .empleado {
        text-align: center;
    }

    /* Los botones de chat se intercambian. Aparece solo el boton para pantallas pequenas */
    .btnChat {
        display: inline-block;
        width: 8rem;
    }

    .btnChat2 {
        display: none;
    }
}

/* Pantallas muy pequenas */
@media only screen and (max-width: 451px) {
    .col-1 {
        grid-column: span 1;
    }
    .col-2 {
        grid-column: span 2;
    }
    .col-3 {
        grid-column: span 3;
    }
    .col-4 {
        grid-column: span 4;
    }
    .col-5 {
        grid-column: span 5;
    }
    .col-6 {
        grid-column: span 6;
    }
    .col-7 {
        grid-column: span 7;
    }
    .col-8 {
        grid-column: span 8;
    }
    .col-9 {
        grid-column: span 9;
    }
    .col-10 {
        grid-column: span 10;
    }
    .col-11 {
        grid-column: span 11;
    }
    .col-12 {
        grid-column: span 12;
    }

    /* Logo ajustado a pantallas más pequenas */
    .logoOrg {
        width: 10rem;
        height: 8rem;
        position: absolute;
        top: 13rem;
        left: 2rem;
        border-radius: 4.35rem;
    }

    /* Ajuste de la imagen del empleado */
    .imgEmpl {
        height: 6rem;
        width: 8rem;
    }

    /* Ajusta el texto dentro del contenedor de descripcion del empleado */
    .empleado {
        text-align: center;
    }

    /* Pone mas estilo cuando la pantalla es pequena*/
    .btnChat {
        display: inline-block;
        width: 100%;
    }

    /* Oculta botón de chat situado en contactos */
    .btnChat2 {
        display: none;
    }

    /* Ajuste del contenedor de descripcion de la organizacion */
    .contenedorDesc {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}
